
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<div class="alert alert-danger">
    <h5>Borsa Ana Sayfası (30 gün boyunca ücretsiz görebilirsiniz)</h5>
</div>

