@model NetCoreIdentity.Web.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

 
<div class="row">
    <div class="col-md-4 offset-4">

        @if (ViewBag.Status == "success")
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
            <a class="btn btn-link" asp-action="Login" asp-controller="Home">Giriş için tıklayınız.</a>
        }
        else
        {
            <h4>Şifremi Unuttum</h4>
            <hr />
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Gönder" class="btn btn-primary" />
                </div>
                <div class="alert alert-info">
                    Yeni şifre belirlemek için kayıtlı e-posta adresinizi yazınız.
                    Şifre değiştirme linkini e-posta adresinize göndereceğiz.
                </div>
            </form>
        }
    </div>

</div>


